.main {
  display: flex;
  margin-top: 4rem;
}

@media screen and (max-width: 1070px) {
  .main {
    flex-direction: column;
    margin-top: 0rem;
    align-items: center;
    justify-content: center;
  }
}
