.images {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.active {
  border: 3px solid hsl(26, 100%, 55%);
}

@media screen and (max-width: 1070px) {
  .images__thumbnails {
    display: none;
  }
}

@media screen and (max-width: 470px) {
  .images {
    width: 100%;
  }
}
